#banner{
    background-image: url('../images/banner.png');
}
.text-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-deal{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text-categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.well{background-image: url('../images/Vectorrr.png');

}
.img{

width: 802.9px;
height: 500px;
flex-shrink: 0;}
.gift{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.our{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.para{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;  
}
.img1{
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
margin-bottom: 10px;
}
.newsletter{
    width: 1320px;
height: 616px;
flex-shrink: 0;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
. newsletter>text-title{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.n-para{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}

#best .portfolio{
    width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.button{/*
    border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;
flex-shrink: 0;
}*/